*{
    box-sizing: border-box;
}

body{
    background-color: black;
    font-family: sans-serif;
}

h3{
    color:white;
}

.topnav{
    overflow: hidden;
    background-color: black;
    padding: 10px;
}